<html>
    <head>
      <link rel="stylesheet" href="static/add.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
  <body>
    
    <div class="sidebar">
        <ul class="nav-links">
          <li>
            <a href="/home">
              <span class="links_name">Homepage</span>
            </a>
          </li>
          <li>
            <a href="/search" >
              <span class="links_name">Search Course</span>
            </a>
          </li>
          <li>
            <a href="/add"class="active" >
              <span class="links_name" >Add Course</span>
            </a>
          </li>
          <li>
            <a href="/drop">
              <span class="links_name">Drop Course</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="links_name">Swap Course</span>
            </a>
          </li>
          <li>
            <a href="/logout">
              <span class="links_name">Log Out</span>
            </a>
          </li>
        </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <span class="Homepage"> Add Course</span>
        </div>
         <div class="add-courses">
           <nav>
        <form action="" method = "POST">
      <p>Course ID <input type = "text" name = "course_id" /></p>
      <!-- <p>Section <input type = "text" name = "section" /></p> -->
      <!-- <p>Department name <input type = "text" name = "dept_name" /></p> -->
          
      <p><input type = "submit" value = "Add Course" /></p>
  </form>
             </nav>
           </div>
         <div class="name-details">
        <span class="name_">Sarah Khan</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
      </nav>
      
     
      
    </section>
  </body>
  </html>
  
  
  
  
  
  
  