<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
  <body>
    <h2>HEllo world</h2>
    <!----
    <div class="container">

      <!-- <div class="justify-content-end"> --
        <form class="form1" >
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Course ID</th>
                      <th scope="col">Course Title</th>
                      <th scope="col">Department Name</th>
                      <th scope="col">Credit Hours</th>
                      <th scope="col">Mode of Instruction</th>
                    </tr>
                </thead>
                <tbody>
                    {% if flag %}
                      {% for row in data %}
                      <tr>
                        {% set flag= 'false' %}
                        
                        {% for cell in row %}
                        <td> {{cell}} </td>
                        {% set flag= 'true' %}
                        {% endfor %}
        
                        <!-- {% if flag == 'true' %} -->
                          <!-- <td> <button class="btn btn-primary" type="submit" name="options" id="options" value={{row[0]}}>Drop</button> </td> -->
                        <!-- {% endif %} --
                      </tr> 
                      {% endfor %}
    
                    {% else %}
                      <tr> <td>You have Dropped all your courses</td>  </tr>
                      
                    {% endif %}
                    
    
                </tbody>
            </table>

            <a class="btn btn-primary" href="/admin" role="button">Back to home</a>
        </form>
      <!-- </div> --
    </div>
  -->
  </body>
</html>