<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
  <body>
    <!-- <div class="sidebar">
        <ul class="nav-links">
          <li>
            <a href="/home" class="active">
              <span class="links_name">Homepage</span>
            </a>
          </li>
          <li>
            <a href="/search">
              <span class="links_name">Search Course</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="links_name">Add Course</span>
            </a>
          </li>
          <li>
            <a href="/drop">
              <span class="links_name">Drop Course</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="links_name">Swap Course</span>
            </a>
          </li>
          <li>
            <a href="/logout">
              <span class="links_name">Log Out</span>
            </a>
          </li>
        </ul>
    </div> -->

    <form class="form1" method="POST">
        <table class="table table-bordered" method='`POST'>
            <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Course ID</th>
                  <th scope="col">Course Title</th>
                  <th scope="col">Credit Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>CS100</td>
                  <td>Intro to Computational Problem Solving</td>
                  <td>3</td>
                  <td> <button class="btn btn-primary" type="submit" name="options" id="options" value="CS100">Drop</button> </td>
                </tr>

                <tr>
                  <th scope="row">2</th>
                  <td>CS200</td>
                  <td>Programming Fundamentals</td>
                  <td>3</td>
                  <td> <button class="btn btn-primary" type="submit" name="options" id="options" value="CS200">Drop</button> </td>
                </tr>
            </tbody>
        </table>
        <!-- <button type="submit" class="btn btn-primary" name="options" value= "hello">Drop</button> -->

    </form>

    <!-- <table class="table table-bordered" method='`POST'>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td> <button class="btn btn-primary" type="submit" name="options" id="options" value="admin">Drop</button> </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table> -->
      
  </body>


</html>