
<html>
    <head>
      <link rel="stylesheet" href="static/home.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
  <body>
    <div class="sidebar">
        <ul class="nav-links">
          <li>
            <a href="/home" class="active">
              <span class="links_name">Homepage</span>
            </a>
          </li>
          <li>
            <a href="/search">
              <span class="links_name">Search Course</span>
            </a>
          </li>
          <li>
            <a href="/add">
              <span class="links_name">Add Course</span>
            </a>
          </li>
          <li>
            <a href="/drop">
              <span class="links_name">Drop Course</span>
            </a>
          </li>
          <li>
            <a href="/swap_home">
              <span class="links_name">Swap Course</span>
            </a>
          </li>
          <li>
            <a href="/logout">
              <span class="links_name">Log Out</span>
            </a>
          </li>
        </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <span class="Homepage">Welcome to SwapIt</span>
        </div>
         <div class="name-details">
        <span class="name_">{{session["user"][0]}}</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
      </nav>
  
      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Credit Hours</div>
              <div class="info_">{{crd_hrs}}</div>
              
            </div>
            <i class='bx bxs-cart-add cart two' ></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Courses</div>
              <div class="info_">{{no_courses}}</div>
              
            </div>
            <i class='bx bx-cart cart three' ></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Semester</div>
              <div class="info_">Fall 2021</div>
            </div>
            <i class='bx bxs-cart-download cart four' ></i>
          </div>
        </div>     
      </div>
    </section>
  </body>
  </html>
  
  
  
  
  