<head>
  <title>Sign in</title>
  <link rel="stylesheet" type="text/css" href="static/login2.css">
</head>

<body>
  <div class="main">
    <p class="sign" align="center">SwapIt</p>
    <form class="form1" action="/login" method = "POST">
      <!-- action="/login" -->
      <input class="un " type="email" align="center" name ="email" placeholder="Email">
   
      <input class="un " type="password" align="center" name = "password" placeholder = "Password"><br><br>
      <input class="radiobutton" type="radio" name="options" id="option1" value="Admin"> admin </input>
      <input class="radiobutton" type="radio" name="options" id="option2" value="student"> Student </input><br>
      <!-- <div>
        <label for="s-option" class="uu">
          <input type="radio" id="s-option" name="options" tabindex="2" value="student">
          <span>Student</span>
        </label>
        <label for="t-option" >
          <input class="uu" type="radio" id="t-option" name="options" tabindex="3" value="admin">
          <span>Admin</span>
        </label>
      </div> -->
      <p><input class = "submit" type = "submit" value = "Submit" /></p>
      <!-- <button type = "submit" class="submit" align="center">Log in</button>   -->
      <div class="login-help">
        <p>Sign Up? <a href="/signup">Click here to create an account</a>.</p>
      </div>
    </form>
  </div>
</body>
</html>