<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_output.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="container">
        <h2 style="margin-top: 10px;"> Search results</h2>

        <table style="margin-top: 20px;"  class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% for header in headings %}
                    <th>
                        {{header}}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
    
            <tbody>
                {% for row in variable %}
                <tr>
                    {% for cell in row %}
                    <td>
                        {{cell}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-dark" href="/search" role="button">Back</a>
    </div>
    <!-- <table>
        <tr>
            {% for header in headings %}
            <th>
                {{header}}
            </th>
            {% endfor %}
        </tr>
        {% for row in variable %}
        <tr>
            {% for cell in row %}
            <td>
                {{cell}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table> -->
    
</body>
</html>
