<html>

<head>
  <link rel="stylesheet" href="static/sign_up.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign Up</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign Up</p>
    <form class="form1", method='POST'>
      <input class="un " type="text" align="center" id= "name" name="name" placeholder="Name">
      <input class="un " type="text" align="center" id= "user_id" name="user_id" placeholder="User ID">
      <input class="un " type="text" align="center" id= "email" name="email" placeholder="Email Address">
      <input class="un " type="text" align="center" id= "password" name="password" placeholder="Password"><br>
      <input type="radio" name="options" id="options" value="option1"> Admin </input><br>
      <input type="radio" name="options" id="options" value="option2"> Student </input><br>
      <a href='/signup' type="submit" class="submit" align="center">Sign Up</a>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <p class="forgot" align="center"><a 
    </div>
</body>
</html>



