<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" type="text/css" href="static/home.css" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <br />
      <h1>Swap Requests</h1>
      <br />
      <form class="form1" method="POST">
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-primary">Add Request</button>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-success">
              Search Requests
            </button>
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-danger">View Requests</button>
          </div>
        </div>
        <br />
        <br />
        <!-- <br /> -->
        <h4>All Requests</h4>
        <!-- <br /> -->

        {% if flag %}
            {% for row in data %}
            <br />
            <div class="card w-75">
              <h5 style="background-color:paleturquoise ;"  class="card-header">{{row[0]}}</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title">Have: {{row[1]}}</h5>
                  </div>
                  <div class="col">
                    <h5 class="card-title">Want: {{row[2]}}</h5>
                  </div>
                  <div class="col-sm">
                    <button class="btn btn-success" type="submit" name="options" id="options" value={{row[0]}}/{{row[1]}}/{{row[2]}}>Send Accept</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

        {% else %}
            <h3>OOPS! There are no swap requests found</h3>
        {% endif %}

      </form>
    </div>
    <!-- <table>
      <tr>
        {% for header in headings %}
        <th>{{header}}</th>
        {% endfor %}
      </tr>
      {% for row in variable %}
      <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table> -->
  </body>
</html>
