<!-- <form method="POST" action="/proj.py">
course_id<input type="text" name = "course_id"/>
<br>
    course_name<input type="text" name = "course_name"/>
<br>
<button type="button">Submit</button>
</form> -->

<form action="" method = "POST">
    <p>course_id <input type = "text" name = "course_id" /></p>
    <p>course_name <input type = "text" name = "course_name" /></p>
    <p>dept_name <input type = "text" name = "dept_name" /></p>
    <p><input type = "submit" value = "Submit" /></p>
  </form>