<html>
    <head>
      <link rel="stylesheet" type="text/css" href="static/css/serach_course.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
  <body>
    
    <div class="sidebar">
        <ul class="nav-links">
          <li>
            <a href="#">
              <span class="links_name">Homepage</span>
            </a>
          </li>
          <li>
            <a href="#" class="active">
              <span class="links_name">Search Course</span>
            </a>
          </li>
          <li>
            <a href="#" >
              <span class="links_name" >Add Course</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="links_name">Drop Course</span>
            </a>
          </li>
          <li>
            <a href="/swap">
              <span class="links_name">Swap Course</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="links_name">Log Out</span>
            </a>
          </li>
        </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <span class="Homepage"> Search Course</span>
        </div>
         <div class="search-courses">
           <nav>
        <form action="" method = "POST">
      <p>Course ID <input type = "text" name = "course_id" /></p>
      <p>Course Name <input type = "text" name = "course_name" /></p>
      <p>Department name <input type = "text" name = "dept_name" /></p>
      <p><input type = "submit" value = "Search Course" /></p>
  </form>
             </nav>
           </div>
         <div class="name-details">
        <span class="name_">Sarah Khan</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
      </nav>
    </section>
  </body>
  </html>
  
  
  
  
  
  
  